.register-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 438px;
}

.title-descr {
  width: 100%;
  margin: 0 0 40px 0;
}

.register-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #11101c;
  margin: 0 0 20px 0;
}

.register-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(17, 16, 28, 0.5);
}

.inputs-div {
  display: flex;
  gap: 18px;
  flex-direction: column;
}

.register-inputs {
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  padding: 16px 18px 16px 18px;
  width: 402px;
  height: 16px;
}

.register-btn {
  border-radius: 30px;
  padding: 16px 190px;
  width: 438px;
  height: 52px;
  margin-top: 40px;
  background: #f03f3b;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.password-wrapper {
  position: relative;
}

.toggle-password {
  position: relative;
  top: -35px;
  left: 90%;
  background-color: transparent;
  border: none;
}
