.nav {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}
